@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

@media screen and (min-width:358px) and (max-width:389px){
    .body{
        position: relative;
        bottom: 27px;
    }
}
/* @media screen and (min-width:390px) and (max-width:800px){
    .body{
        position: relative;
        top: 30px;
    }
} */

/* @media screen and (min-width:801px) and (max-width:920px){
    .body{
        position: relative;
        top: 180px;
    }
} */